[Unit]
Description=Firewall
After=NetworkManager.service
BindsTo=NetworkManager.service
ReloadPropagatedFrom=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firewall start
ExecStop=/usr/local/sbin/firewall stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
